body {
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f8ff;
    color: #333;
}

/* Header */
header {
    background: #89c0f0;
    color: #00509e;
    text-align: center;
    padding: 2rem 0;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
}


hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 1.5rem 0;
}


.content {
    display: flex;
    min-height: 100vh;
}

.img{

    width: 800px; /* Ajusta a largura para ocupar todo o contêiner pai */
    max-width: auto; /* Limita o tamanho máximo da largura */
    height: auto; /* Mantém a proporção da imagem */
    display: flex; /* Evita espaços extras ao redor da imagem */
    justify-content: center; 
    align-items: center; 
}

.bloco1{
    margin: 20px auto; /* Centraliza o bloco horizontalmente */
    outline: 5px solid #003366; /* Adiciona uma borda ao redor do bloco */
    text-align: center; /* Centraliza o texto dentro do bloco */
    max-width: 800px; /* Define uma largura máxima para o bloco */
    background-color: #89c0f0;
}

.bloco1 h2 {
    margin-top: 10px; /* Adiciona espaço entre a imagem e o texto */
    color: #003366; /* Cor do texto */
    line-height: 1.5; /* Melhora a legibilidade */
}

.bloco1 p {
    margin-top: 10px; /* Adiciona espaço entre a imagem e o texto */
    font-size: 16px; /* Ajusta o tamanho da fonte */
    color: #003366; /* Cor do texto */
    line-height: 1.5; /* Melhora a legibilidade */
}

#irTopo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s;
}

#irTopo:hover {
    transform: scale(1.1);
}
.content {
    display: flex;
    min-height: 100vh;
}nav {
    width: 250px;
    background: #00509e;
    padding: 1.5rem;
    border-right: 1px solid #ccc;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin-bottom: 1rem;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #f0f8ff;
    background: #0074d9;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s ease;
    text-align: center;
}

nav ul li a:hover {
    background: #00509e;
    color: #ffd700; 
    transform: scale(1.05);
}
